{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign In" %}{% endblock title %}

{% block content %}
  <div class="container my-4 max-width-650">
    <h1>{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}

      <div class="text-center">
        <a class="btn btn-light" href="{% provider_login_url 'google' %}">
          <i class="fab fa-google fa-lg mr-2"></i> Login with Google
        </a>
        <div class="login-or my-3">{% trans 'or' %}</div>
      </div>
      {% include "socialaccount/snippets/login_extra.html" %}

    {% endif %}

    <p>{% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="btn btn-default" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>
{% endblock content %}
