{% extends "base.html" %}

{% load static %}

{% block extra_head %}
  <link href="{% static 'css/chessboard-1.0.0.min.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block content %}
  <div class="container mt-4">
    <div class="text-center mb-3">
      <button id="play-btn" class="btn btn-primary">Play</button>
    </div>
    <div class="mw-1 mx-auto">
      <div id="opponent-container" class="row" style="display: none;">
        <div class="col-6">
          <h4 id="opponent-username"></h4>
        </div>
        <div class="col-6 text-right">
          <h4 class="mb-0"><span id="opponent-timer" class="badge badge-primary p-2"></span></h4>
        </div>
      </div>
      <div id="myBoard" class="my-2"></div>
      <div id="user-container" class="row" style="display: none;">
        <div class="col-6">
          <h4 id="username">{{ user }}</h4>
        </div>
        <div class="col-6 text-right">
          <h4><span id="user-timer" class="badge badge-primary p-2"></span></h4>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js" integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script type="text/javascript" src="{% static 'js/chessboard-1.0.0.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/js/game.js' %}"></script>
{% endblock extra_scripts %}